<sly data-sly-use.heroImage="com.adobe.aem.assessment.core.models.HeroImage">
    <div class="${heroImage.classList} jumbotron" style="background-image: url('${(properties.fileReference || properties.fileName) ? heroImage.image.src : '' @ context='uri'}');">
        <div class="container cq-dd-image">
            <div class="we-HeroImage-wrapper">
                <p class="h3">${properties.heading}</p>
                <strong class="we-HeroImage-title h1">${properties.title || currentPage.title}</strong>

                <p data-sly-test="${properties.buttonLabel && properties.buttonLinkTo}">
                    <a class="btn btn-primary btn-action" href="${properties.buttonLinkTo @ extension = 'html'}" role="button">${properties.buttonLabel}</a>
                </p>
            </div>
        </div>
    </div>
</sly>